#viewport {
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.annotation {
  pointer-events: none;
}

.x {
  color: blue;
}

.y {
  color: green;
}

.z {
  color: red;
}
